<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjut.qll.mapper.EvaluationDetailsMapper">

    <!--查询所有评价分数-->
    <select id="queryAllEvaluationDetails" resultMap="EvaluationDetailsPlus">
        select * from employeemanage.evaluationdetails
    </select>
    <resultMap id="EvaluationDetailsPlus" type="EvaluationDetails">
        <association property="employee" column="eva_emp_id" javaType="Employee" select="getEmployee" />
        <association property="evaluation" column="eva_id" javaType="Evaluation" select="getEva" />
    </resultMap>
    <select id="getEmployee" resultType="Employee">
        select * from employeemanage.employee where emp_id = #{emp_id}
    </select>
    <select id="getEva" resultType="Evaluation">
        select * from employeemanage.evaluation where eva_id = #{eva_id}
    </select>


    <select id="queryEvaluationDetailByEvaId" resultMap="EvaluationDetailsPlus">
        select * from employeemanage.evaluationdetails where eva_id = #{eva_id}
    </select>


    <insert id="insertEvaluationDetails" parameterType="EvaluationDetails">
        insert into employeemanage.evaluationdetails
          (eva_id, eva_emp_id, progressRate, quality,
           workload, customerReviews, responsibility,
           attendance, positivity, conduct, teamCooperation,
           improvingCapability, examSituation,
           specialContribution, reasonableSuggestion, Score)
        values (#{evaluation.eva_id}, #{employee.emp_id}, #{progressRate}, #{quality},
                #{workload}, #{customerReviews}, #{responsibility},
                #{attendance}, #{positivity}, #{conduct}, #{teamCooperation},
                #{improvingCapability}, #{examSituation},
                #{specialContribution}, #{reasonableSuggestion}, #{Score})
    </insert>
    <update id="updateEvaluationDetails" parameterType="EvaluationDetails">
        update employeemanage.evaluationdetails set
        eva_emp_id=#{employee.emp_id},
        progressRate=#{progressRate}, quality=#{quality},
        workload=#{workload}, customerReviews=#{customerReviews}, responsibility=#{responsibility},
        attendance=#{attendance}, positivity=#{positivity}, conduct=#{conduct},
        teamCooperation=#{teamCooperation},improvingCapability=#{improvingCapability},
        examSituation=#{examSituation},specialContribution=#{specialContribution},
        reasonableSuggestion=#{reasonableSuggestion}, Score = #{Score}
        where eva_id=#{evaluation.eva_id}
    </update>


</mapper>